#searchBox{
    width: 100%;
    display: table;
    text-align: center;
    border: thin;
}
#logo{
    cursor: pointer;
}
#searchIcon{
    height:40px;
    font-size: 20px;
    cursor: pointer;
}

.avatarImg{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
}

.mat-form-field-underline {
    margin-bottom: 5% !important;
}

::ng-deep{    
    .mat-form-field-underline {
        margin-bottom: 4.5% !important;
    } 
    .mat-fab .mat-button-wrapper {
        font-size: 32px;
    }  
}



