#searchBox{
    width: 100%;
    display: table;
    text-align: center;
    input{
        background-color: gray;
    }
}
#logo{
    cursor: pointer;
}
#searchIcon{
    height:40px;
    font-size: 25px;
    cursor: pointer;
}

.avatarImg{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
}
