.example-form{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #696969;
    border-radius:10px;

}

.form-control{
    margin-left: 10%;
}

.button-search{
    margin-right:2%;
    padding: 0px;
}

.name-dates{
    margin-left:2%;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: center; 
    flex-direction: row;
    margin-top:5%;
}

#photoBox{
    border: 1px solid #fff;
    width: 300px;
    height: 300px;
    margin: 1%;
    margin-right: 2%;
    
}

.photo-grid {
    width: 1000px;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
}

.addPhoto{
    left: 92%;
    position: sticky;
    bottom: 4%;
}