<div class="container">
    <div class="photo-grid">
        <app-photo-card id="photoBox" *ngFor="let entry of entries" [data]="entry">    
        </app-photo-card>
    </div>
</div>
<button (click)="imageInput.click()" mat-fab matTooltip="Add new photo" aria-label="Button that displays a tooltip when focused or hovered over" matTooltipPosition="above"  class="addPhoto" > + </button>
<span style="visibility: hidden; position: absolute; overflow: hidden; width: 0px; height:0px;border:none;margin:0; padding:0">
    <input type="file" #imageInput type="file" accept="image/*" (change)="processFile(imageInput)" />
</span>