<form class="example-form" #datesForm="ngForm" (ngSubmit)="onSubmit(datesForm)" >
    <label  class="name-dates" for="Data Inicial">Data Inicial:</label>
    <input type="date" class="form-control" matInput name="dataInicial" [(ngModel)]="model.dataInicial" required
     #dataInicial="ngModel">    
     <label class="name-dates" for="Data Final">Data Final:</label>
    <input type="date" class="form-control" matInput name="dataFinal" [(ngModel)]="model.dataFinal" required
    #dataFinal="ngModel"> 
    <button class="button-search" type="submit" mat-raised-button color="primary" (click)= 'onSubmit(datesForm)'>Buscar</button>
</form>

<div class="container">
    <div class="photo-grid">
        <app-photo-card id="photoBox" *ngFor="let entry of entries" [data]="entry">    
        </app-photo-card>
    </div>
</div>
<button (click)="imageInput.click()" mat-fab matTooltip="Add new photo" aria-label="Button that displays a tooltip when focused or hovered over" matTooltipPosition="above"  class="addPhoto" > + </button>
<span style="visibility: hidden; position: absolute; overflow: hidden; width: 0px; height:0px;border:none;margin:0; padding:0">
    <input type="file" #imageInput type="file" accept="image/*" (change)="processFile(imageInput)" />
</span>

