
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
  
}
.mat-card-header .mat-card-title{
  margin-bottom: 8px;
  margin-top: 8px;
}

.mat-card{
  padding-top: 8px;
}

.mat-card-image{
  margin: 8px -16px -7px -16px;
  height:178px;
}

.username{
  margin-top: 3px;
}

.likeButton{
  padding-left: 1%;
}
