
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    
  }
  .mat-card-header .mat-card-title{
    margin-bottom: 8px;
    margin-top: 8px;
  }
  
  .mat-card{
    padding-top: 8px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 34%;
    position: absolute;
  }
  
  .mat-card-image{
    margin: 8px -16px -7px -16px;
    width: 500px;
    height: 500px;
  }
  
  .username{
    margin-top: 3px;
  }
  
  .likeButton{
    padding-left: 1%;
  }
  