.register-form{
    margin: 3.5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

#title{
    margin: 10%;
    text-align: center;
}



button{
    margin-top: 5%;
    width: 100%;
}

.form-group{
    display: flex;
    justify-content: center;
    align-items: center;
}

#labelImg{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}


