<div class="register-form">

    <mat-card class="form-card">
        <mat-card-title id ="title">Registro</mat-card-title>
      <mat-card-content class="user-info">
        <form class="example-form">
            <div class="form-group">         
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Full name" >
                </mat-form-field>
            </div>
            <div class="form-group">         
                <mat-form-field class="example-full-width">
                    <input id = "r" matInput placeholder="Email" >
                </mat-form-field>
            </div>
            <div class="form-group">         
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Username" >
                </mat-form-field>
            </div>
            <div class="form-group">         
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Password">
                </mat-form-field>
            </div>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">Cadastro</button>
      </mat-card-actions>
    </mat-card>